/Library
/Library/Artifacts
/Library/ScriptAssemblies
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
Library/SourceAssetDB
Library/CurrentLayout-default.dwlt
Library/ArtifactDB
/Temp
